{% extends 'core/base.html' %}

{% block title %}Recent Pins{% endblock %}
{% block yield %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div id="tree"></div>
            <!--Sidebar content-->
        </div>
        <div class="span10">
            <!--Body content-->
            <div id="pins"></div>
            <div id="loader" class="container">
                <div class="row">
                    <div class="span2 offset5">
                        <img src="/static/core/img/loader.gif" alt="Loader">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
var data = [
    {
    label: 'node1',
               children: [
               { label: 'child1' },
               { label: 'child2' }
           ]
    },
    {
    label: 'node2',
           children: [
           { label: 'child3' }
           ]
    }
];

var onLoadTree = function (data) {
    console.log(data)
    $('#tree').tree({
        data: data,
        autoOpen: true,
        dragAndDrop: true
    });
};

var loadTree = function () {
    $.ajax({
        url:"/pins/ajax_album_tree",
        success: onLoadTree
    });
};

$(loadTree);
{% endblock %}
