{% extends 'core/base.html' %}

{% load bootstrap_field %}


{% block title %}新建相册{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6 offset3" id="form">
                <h1>新建相册</h1>
                <form action="{% url album:new %}" method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% for field in form %}
                        {% bootstrap_field field %}
                    {% endfor %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <a href="{% url core:home %}" class="btn">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
