{% extends 'pins/album_base.html' %}

{% block content %}
{{block.super}}
<div class="row-fluid">
    <div class="span9">
        <div class="row-fluid">
            <img src="{{ pin.file.url }}" alt="{{ pin.file.name }}">
        </div>
    </div>

    <div class="span3">
        <div class="row-fluid">
            <h2>{{pin.album.name}}</h2>
            <p><i>{{pin.album.user}}</i>, <small>{{pin.album.create}}</small></p>
        </div>
        <div class="row-fluid">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-info btn-large" href="{% url pin:nav pin.pk %}?direct=prev">
                        <i class="icon-chevron-left icon-white"></i>
                        上一张
                    </a>
                    <a class="btn btn-info btn-large" href="{% url pin:nav pin.pk %}?direct=next">
                        下一张
                        <i class="icon-chevron-right icon-white"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-warning" href="{% url pin:rotate pin.id %}?angle=90">
                        <i class="icon-chevron-left icon-white"></i>
                        左旋
                    </a>
                    <a class="btn btn-warning" href="{% url pin:rotate pin.id %}?angle=270">
                        右旋
                        <i class="icon-chevron-right icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        {% if user.is_authenticated and user.username == album.user.username %}
        <div class="row-fluid">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-danger btn-small" data-toggle="modal" href="#modal-delete-pin" ><i class="icon-trash icon-white"></i>删除</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</div>

<div class="modal hide" id="modal-delete-pin">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>删除照片</h3>
    </div>
    <div class="modal-body">
        <p>照片删除后不能恢复,确认继续?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn close" data-dismiss="modal">取消</a>
        <a href="{% url pin:delete pin.id %}" class="btn btn-danger">确认删除</a>
    </div>
</div>

{% endblock %}

