{% extends 'pins/album_base.html' %}
{% load bootstrap_field %}
{% load upload_tags %}

{% block nav_right %}
<li><a href="{% url pins:pins album.id %}" data-toggle="modal"><i class="icon-arrow-left icon-white"></i>返回</a></li>
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<!--[if IE ]>
<p>你使用的是IE内核的浏览器,它不支持文件多选.推荐使用
<a href="http://www.google.cn/chrome/intl/zh-CN/landing_chrome.html">Chrome</a>,
<a href="http://firefox.com.cn/download/">Firefox</a>或
<a href="http://www.opera.com/download/">Opera</a>
.</p>
<![endif]-->
<form id="fileupload" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row fileupload-buttonbar">
        <div class="span7">
            <span class="btn btn-primary fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>添加照片...</span>
                <input type="file" name="file" multiple>
            </span>
            <button type="submit" class="btn btn-success start">
                <i class="icon-upload icon-white"></i>
                <span>批量上传</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span>全部取消</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="icon-trash icon-white"></i>
                <span>全部删除</span>
            </button>
            <input type="checkbox" class="toggle">
        </div>
        <div class="span5 fileupload-progress fade">
            <div class="progress progress-success progres-striped active">
                <div class="bar" style="width:0%"></div>
            </div>
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <div class="fileupload-loading"></div>
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
</form>
<div class="fileupload-content">
    <table class="files"></table>
    <div class="fileupload-progressbar"></div>
</div>
{% upload_js %}
{% endblock %}

