{% extends 'core/base.html' %}

{% block title %}Recent Pins{% endblock %}

{% block yield %}
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>
{% endblock %}

{% block js2 %}
<script type="text/javascript">
    var album_id = {{id}};
</script>
<script src="/static/core/js/pinry.js"></script>
{% endblock %}
