{% extends 'core/base.html' %}
{% load new_pin %}

{% block title %}Recent Pins{% endblock %}

{% block nav %}
<li><a href="#new-pin" data-toggle="modal">上传照片</a></li>
{% endblock %}


{% block album %}
{{album.name}}
{% endblock %}

{% block yield %}
    <div id="pins"></div>
    <div id="loader" class="container">
        <div class="row">
            <div class="span2 offset5">
                <img src="/static/core/img/loader.gif" alt="Loader">
            </div>
        </div>
    </div>

    {% new_pin album.id %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    var album_id = {{album.id}};
</script>
<script src="/static/core/js/pinry.js"></script>
{% endblock %}
