{% extends 'pins/album_base.html' %}

{% block title %}{{album.name}}{% endblock %}

{% block var %}
<li><a href="{% url pins:download-album album.id %}" data-toggle="modal"><i class="icon-download"></i>下载相册</a></li>
<li><a href="{% url pins:upload-pin album.id %}" data-toggle="modal"><i class="icon-upload"></i>批量上传</a></li>
{% endblock %}

{% block album_content %}
<div id="pins"></div>
<div id="loader" class="container">
    <div class="row">
        <div class="span2 offset5">
            <img src="/static/core/img/loader.gif" alt="Loader">
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    var album_id = {{album.id}};
    var is_owner = false;
    {% if album.user.username == user.username %}
        is_owner = true;
    {% endif %}
</script>
<script src="/static/core/js/pinry.js"></script>
{% endblock %}
