{% load new_album %}
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <title>Pinry - {% block title %}{% endblock %}</title>

        {% if debug %}
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.0.3/css/bootstrap.css">
            <link rel="stylesheet" href="/static/vendor/fancybox/2.0.6/jquery.fancybox.css">
        {% else %}
            <link rel="stylesheet" href="/static/vendor/bootstrap/2.0.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/vendor/fancybox/2.0.6/jquery.fancybox.css">
        {% endif %}
        <link rel="stylesheet" href="/static/core/css/pinry.css">
		<!-- Generic page styles -->
		<link rel="stylesheet" href="{{ STATIC_URL }}fileupload/css/style.css">
		<!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
		<link rel="stylesheet" href="{{ STATIC_URL }}fileupload/css/bootstrap-responsive.min.css">
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href="{{ STATIC_URL }}fileupload/css/bootstrap-image-gallery.min.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}fileupload/css/jquery.fileupload-ui.css">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Monoton">

    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <a href="{% url core:home %}" class="brand">HOME</a>
                {% block nav_album %}{% endblock %}

                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                        {% block nav %}{% endblock %}
                        <li><a href="#new-album" data-toggle="modal"><i class="icon-folder-open"></i>新建相册</a></li>
                        <li><a href="{% url core:logout %}"><i class="icon-arrow-right"></i>注销{{user}}</a></li>
                    {% else %}
                    <li><a href="{% url core:login %}"><i class="icon-user"></i>登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block yield %}{% endblock %}
        {% new_album %}

        {% if debug %}
            <script src="/static/vendor/jquery/1.7.2/jquery.js"></script>
            <script src="/static/vendor/bootstrap/2.0.3/js/bootstrap.js"></script>
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.js"></script>
            <script src="/static/vendor/fancybox/2.0.6/jquery.fancybox.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.js"></script>
        {% else %}
            <script src="/static/vendor/jquery/1.7.2/jquery.min.js"></script>
            <script src="/static/vendor/bootstrap/2.0.3/js/bootstrap.min.js"></script>
            <script src="/static/vendor/wookmark/0.5/jquery.wookmark.min.js"></script>
            <script src="/static/vendor/fancybox/2.0.6/jquery.fancybox.pack.js"></script>
            <script src="/static/vendor/imagesloaded/2.0.1/jquery.imagesloaded.min.js"></script>
        {% endif %}

        <script src="/static/core/js/albums.js"></script>
        <script src="/static/core/js/messages.js"></script>
		
		<script src="{{ STATIC_URL }}fileupload/js/jquery.ui.widget.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/tmpl.min.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/load-image.min.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/canvas-to-blob.min.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/bootstrap-image-gallery.min.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/jquery.iframe-transport.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/jquery.fileupload.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/jquery.fileupload-fp.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/jquery.fileupload-ui.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/locale.js"></script>
		<script src="{{ STATIC_URL }}fileupload/js/main.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>
